.face {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  padding-top: 50px;
}

.eyes {
  height: 200px;
  display: flex;
}

.eye {
  width: 50%;
}

.brow {
  width: 50%;
  height: 30px;
  margin: 0 auto;
  background: #000;
}

.pupil {
  width: 20%;
  height: 150px;
  margin: 0 auto;
  background: #000;
}

.mouth {
  width: 59%;
  height: 350px;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 50%;
  border: 40px solid #000;
  border-left-color: transparent;
  border-right-color: transparent;
  border-top: none;
  margin-top: -20%;
}

.position-form {
  text-align: center;
}

.slidebar {
  width: 300px;
  margin-top: 50px;
}
